#info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
};

.search {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

h1 {
    text-align: center;
    justify-content: center;
}


body {
    background: rgb(237,237,212);
    background: linear-gradient(151deg, rgba(237,237,212,1) 0%, rgba(121,9,22,1) 67%, rgba(237,237,212,1) 100%);
}
