{% extends 'base.html' %}

{% block content %}


<body>
    


    <div class="search">
        <h1>Welcome to MarvelPedia</h1>
        <p>Thank you for becoming a member and joining our community!</p>
        <p>We are so happy to have you come to our wonderful world of Marvel. Feel free to explore our state of the art Marvel database and search for your favorite heros and villains with the search tool below.</p>
        
        
    
    
    
    <div id="info" class="container-md">
    
    </div>
    
    
    
    <form class="form-inline" id="search-form">
        <input class="form-control" id="search-query">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    
    <p>You can also create your very own heros and villans! Just click the 'Supers' icon in the navbar to view and create heros and villains</p>
    
    
    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/app.js"></script>
    </div>
</body>


{%  endblock %}