{% extends 'base.html' %}

{% block content %}


<body>
    


    <div class="search">
        <h1>Search The Marvel Character Database!</h1>
    
    
    
    <div id="info" class="container-md">
    
    </div>
    
    
    
    <form class="form-inline" id="search-form">
        <input class="form-control" id="search-query">
        <button class="btn btn-primary" type="submit">Go!</button>
    </form>
    
    
    
    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/app.js"></script>
    </div>
</body>


{%  endblock %}