{% extends 'base.html' %}


{% block content%}
<body>
    

<h1>Welcome! {{user.username}}</h1>

<div>
<h3>Search the Marvel Character Database!</h3>
<form class="form-inline" id="search-form">
    <input class="form-control" id="search-query" value="thor">
    <button class="btn btn-primary" type="submit">Go!</button>
</form>


<div id="info">

</div>





<script src="http://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/app.js"></script>
</div>
</body>
{% endblock %}